/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
    /*background-color: #F5F5F5;*/
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    /*background-color: #F5F5F5;*/
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    /*background-color: #FFEE82;*/
}
table{
    background: #ffffff !important;
}
.Table{
    background: #fff;
    padding:20px;
    margin: 50px;

}
.left{
    width:20%;
    /*position: absolute;*/
    /*left:0;*/
    float: left;
    height:100%;
    display: inline-block;
    border-right: 8px solid #fff;
}
.topic .left .up{
    height:45%;
    padding:10px 5px 0 0;
}
.topic .left .height100{
    height:100% !important;
}
.topic .left .summary{
    text-align: left;
    font-size: 14px;
    position: relative;
}
.topic .left .summary:hover{
    cursor: pointer;
}
.summary-chat{
    position: fixed;
    top: 75px;
    -webkit-box-shadow: 8px 5px 18px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 8px 5px 18px rgba(0, 0, 0, 0.3);
    box-shadow: 8px 5px 18px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding:20px;
    left:70px;
    display: none;
    min-width: 350px;
    max-width: 450px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: scroll;
    z-index: 999;
}
.summary-chat #summaryChat>div{
    margin-top: 10px;
    border-bottom: 1px dotted #cccccc;
    font-size: 14px;
}
.summary-chat .important{
    color: #F47C7C;
}
.summary-content img{
    height:80px;
}
.topic .left .down{
    border-top: 8px solid #fff;
    padding:10px 5px 5px 0;
    height:50%;
}
.topic .right .down{
    padding:10px 0 5px 0;
    border-top: 8px solid #fff;

}
.impressed{
    background: #ffd3cf;
}
.left .title{
    margin-bottom: 7px;
}
.right .title{
    margin-bottom: 7px;
}

.right .up{
    height:45%;
}
.right .up .file-box{
    padding:0 10px 10px 10px;
    height: calc(100% - 35px);
    overflow: scroll;
}
.right .up .file-box .file-item{
    margin-bottom: 5px;
    padding: 0 5px 0 5px;
    text-align: left;
    cursor: pointer;
    border-bottom:1px dashed rgba(0,0,0,0.2);
    margin-bottom: 15px;
}
.topic .left .title{
    font-size: 14px;
    text-align: left;
    display: inline-block;
    background: #222831;
    padding:5px 10px;
    border-radius: 0 20px 20px 0;
    color: #fafafa;
}
.topic .left #upSummary{
    height:100%;
}
.topic .left  #mySummary{
    height:100%;
}
.topic .left .summary-box{
    overflow: scroll;
    padding:10px 20px;
    height:90%;
}

.topic .right{
    text-align: right;
}
.topic .right .title{
    font-size: 14px;
    /*text-align: right;*/
    display: inline-block;
    background: #222831;
    padding:5px 10px;
    border-radius: 20px 0 0 20px;
    color: #fafafa !important;
}
.right{
    width:20%;
    /*position: absolute;*/
    right:0;
    /*float: left;*/
    height:100%;
    display: inline-block;
    border-left: 8px solid #fff;
}
.topic .right .up{
    /*border-bottom: 1px solid #ccc;*/
    height:40%;
    padding:10px 0 5px 0;

}
.topic .right #topicFileCenter{
    height:100%;
}
.topic .right .files{
    height:calc(100% - 34px);
    padding:10px;
    font-size: 15px;
    text-align: left;
    overflow: scroll;
}
.topic .right .down{
    border-top: 8px solid #ffffff;
    height:58%;
    text-align: right;
    padding: 10px 0 5px 0;
}
.right .down .subTask-box{
    padding: 10px;
    height:calc(100% - 50px);
    overflow: scroll;
}

.right .down .sub-item{
    overflow: hidden;
    text-align: left;
    border-bottom: 1px dotted #cccccc;
    padding:5px 0;
}
.right .down .sub-item .sub-task-owner{
    float: right;
    font-size:10px;
    color: #718CA1;
}

.topic .middle{
    width:60%;
    height:100%;
    left: 20%;
    /*position: absolute;*/
    /*background: #00b3ee;*/
    /*position: fixed;*/
    float: left;
    display: inline-block;
}
.topic .middle .topicMsg-part{
    position: relative;
    /*overflow: scroll;*/
    height: 95px;
    border-bottom: 1px solid #ccc;
}
.topic .middle .topicMsg-part .topic-title{
    font-size: 20px;
    padding: 10px 15px;
    margin-right: 20px;
    width:90%;
}
.topic .middle .brief{
    font-size: 14px;
    display: inline-block;
    max-width:calc(100% - 40px);
    padding-left: 15px;
}
.topic .middle .rest-time{
    margin-left: 15px;
}
.topic .middle .rest-time span{
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
    color: #8c8c8c;
}
.file-upload-group{
    display: none;
}
.topic .middle .chat-box{
    padding:15px 15px 0px 15px;
    /*width:inherit;*/
    /*position: fixed;*/
    /*bottom:15px;*/
    /*text-align: center;*/
    height:120px;
}
.topic .middle .setting{
    position: absolute;
    right:20px;
    top:20px;
}
.topic .middle .setting i{
    display: inline-block;
    width:30px;
    line-height:30px;
    background: #f2f0ff;
    text-align: center;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;

}
.topic .middle .setting i:hover{
    background: rgba(0,0,0,0.3);
    cursor: pointer;
}
.topic .middle .chat-box .input-box{
    /*position: relative;*/
    /*display: inline-block;*/
    height:100%;
    border:1px solid #ccc;
    /*width: 90%;*/
    border-radius: 5px;
    padding: 4px;
    background: #ffffff;
}
.topic .middle .chat-box .input-box textarea{
    width:100%;
    height:74%;
    padding: 5px;
    display: inline-block;
    border:none !important;
}
.topic .middle .chat-box .input-box textarea:focus{
    outline: none !important;
}
.topic .middle .chat-box .input-box a{
    font-size: 20px;
    float: right;
    margin-right: 5px;
}

.shade{
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: none;
}
.shade .invest-shade{
    width:200px;
    background: #d9d9d9;
    position: relative;
    margin: 10% auto auto;
    padding:20px;
}

.chat-user{
    color: white;
}
.shade{
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: none;
}
.shade .member-shade{
    position: relative;
    margin:100px auto;
    background: white;
    padding:15px;
    width:400px;
}
.shade form{
    position: relative;
    margin:100px auto;
    background: white;
    padding:15px;
    width:400px;
}

.shade form .header{
    line-height:50px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
/*.shade form label{*/
    /*display: block;*/
    /*margin-bottom: 10px;*/
/*}*/
.shade form input{
    border:1px solid rgba(0,0,0,0.1);
    line-height:35px;
    width:100%;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.shade form input:focus{
    border: 1px solid rgba(0,0,0,0.3);
}
.shade form textarea{
    border:1px solid rgba(0,0,0,0.1);
    width:100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
    height:100px;
    outline: none;
}
.shade form  textarea:focus{
    border:1px solid rgba(0,0,0,0.3);
}

/*.shade .input-group{*/
    /*width:100%;*/
    /*margin-top: 20px ;*/
/*}*/

.shade button{
    position: relative;

}
.shade .errorMsg{
    background: #ffcccc;
    color: rgba(255, 0, 0, 0.7);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-size: 13px;
    text-align: left;
    padding:8px;
    display: none;
}
#filePreview{
    text-align: center;
}
#filePreview .file-operate{
    font-size: 25px;
    color: wheat;
}
#filePreview .name{
    display: inline-block;
    margin-top: 10px;
    font-size: 25px;
    color: #fff;
}
.operate-part{
    overflow: hidden;
}
#filePreview .box{
    display: inline-block;
    width:60%;
    max-height: 90%;
    padding-top: 30px;
}
#filePreview img{
    width:100%;
    height:auto;
}
.preview-img{
    width:100px;
    vertical-align: baseline;
    /*vertical-align: -webkit-baseline-middle;*/
    /*-webkit-vertical-align:baseline;*/
}
.memberlist{
    background-color: #00adee;
}
.member-manage{
    background-color: #6effd8;
}
.memer-invest{
    background-color: #ffc0ab;
}
/*topic condition=0 || condiiton =2*/
.height-condition-02{
    height:-webkit-calc(100% - 275px);
    height:-moz-calc(100% - 275px);
    height:calc(100% - 275px);
}
.height-condition1{
    height:-webkit-calc(100% - 160px);
    height:-moz-calc(100% - 160px);
    height:calc(100% - 160px);
}
.center-box{
    padding:0 15px;
    /*height:60%;*/
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
.userMsg{
    position: relative;
    text-align: left;
}

.userMsg .avatar img{
    width: 40px;
    height:40px;
    border-radius: 50%;
}
.userMsg .name{
    display: inline-block;
    position: absolute;
    top:0px;
    left:45px;
    color: #4094c7;
}
.userMsg .time{
    display: inline-block;
    position: absolute;
    bottom:0px;
    left:45px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
}
.replys-box{
    background: #fff;
    padding:0 12px;
    margin-top: 5px;
}
.reply-item .content{
    text-align: right;
    float: right;
}
.reply-item{
    border-bottom: 1px dotted rgba(0,0,0,0.1);
    overflow: hidden;
    padding-top: 5px;
}
.reply-item .user-name{
    display: inline-block;
    margin-left: 5px;
}
.reply-item .time{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.chatItem{
    margin: 0 0 0 45px ;
    position: relative;
    text-align: left;
    line-height:20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    display: inline-block;
    width:calc(100% - 170px);
}
.reply-box{
    display: none;
}
.chat-item .reply-content{
    width:100%;
    margin-top: 5px;
    padding:5px;
    border: 1px solid #ccc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.chat-item .reply-btn{
    float: right;
}
.center-box .chat-operate{
    display: inline-block;
    width: 90px;
    position: relative;
    left:5px;
    bottom:-3px;
    color: rgba(0,0,0,0.6);
    vertical-align: baseline;
}
.center-box .chat-operate i{
    display: inline-block;
    position: relative;
    left:10px;
    top:-2px;
    /*margin-right: 10px;*/
    width:25px;
    text-align: right;
}
.center-box .chat-operate:hover{
    cursor: pointer;
    color: #43496E;
}


#tipChat{
    background: #F38181;
    line-height: 20px;
    display: none;
    position: absolute;
    top:3px;
    z-index:99;
    left:50%;
    margin-left: -42px;
    cursor: pointer;
    padding:5px;
    color: #F9FCFD;
    font-size: 12px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
#summaryMoreChat{
    background: #F38181;
    line-height: 12px;
    font-size:12px;
    top:10px;
    display: none;
    padding:5px;
    left:190px;
    position: absolute;
    color: #F9FCFD;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    z-index:9999;
    cursor: pointer;
}
#summaryMoreChatDown{
    background: #F38181;
    line-height: 12px;
    display: none;
    padding:5px;
    position: fixed;
    color: #F9FCFD;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    z-index:9999;
    top:452px;
    left:250px;
    font-size:12px;
    cursor: pointer;

}
#hasNoRecord{
    background: #F38181;
    line-height: 20px;
    display: none;
    position: absolute;
    top:3px;
    font-size: 12px;
    left:50%;
    margin-left: -42px;
    padding:5px;
    color: #F9FCFD;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}


#inputor{
    width:100%;
    height:200px;
}

.overdue{
    color: #f47c7c !important;
}

#addNewTask{
    font-size: 16px;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
/*#addNewTask:hover{*/
    /*color: #3EC483;*/
/*}*/
.at-msg{
    position: absolute;
    right:26px;
    top:110px;
    min-width:100px;
    max-width: 150px;
    border:1px solid #f48db4;
    border-radius: 4px;
    padding: 5px;
    -webkit-box-shadow: 1px  1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px  1px 5px rgba(0,0,0,0.3);
    box-shadow: 1px 1px  5px rgba(0,0,0,0.3);
}
.atColored{
    background: #f48db4;
    border-radius: 4px;
    line-height: 20px;
}
.chat-item{
    border-bottom: 1px dotted rgba(0,0,0,0.07);
    padding: 10px 0 5px 0;
    overflow: hidden;
}

.summary{
    position: relative;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}

.summary .summary-owner{
    font-size: 12px;
    text-align: right;
    color: #718CA1;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*.file-name{*/
    /*font-size: 12px;*/
    /*text-align: right;*/
    /*color: #718CA1;*/
    /*margin-left: 5px;*/
    /*display: inline-block;*/
/*}*/
/*.topic .middle{*/
    /*padding-bottom: 20px;*/
/*}*/

.file-item i{
    float: right;
    display: none;
    margin-left: 5px;
}
.file-item span.fa{
    color: #337ab7 !important;
    display: inline-block;
    margin-left: 5px;
}

.invest-code input{
    width: 100%;
}

.manage-btn{
    display: none ;
    background: #fd9191;
    color: #f9f5f0 !important;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-left: 10px;
    -webkit-box-shadow:  1px 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow:  1px 1px 5px rgba(0,0,0,0.3);
    box-shadow:  1px 1px 5px rgba(0,0,0,0.3);
    padding: 5px 8px;
}
.member-item .manage-btn:hover{
    color: #F2EAD3;
}
.member-item .add{
    background: #3EC483;
    color: #f9f5f0;
    margin-left: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:  1px 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow:  1px 1px 5px rgba(0,0,0,0.3);
    box-shadow:  1px 1px 5px rgba(0,0,0,0.3);
    padding: 5px 8px;
}
.member-item{
    padding-bottom: 10px;
}
#operate{
    margin-bottom: 10px;
    margin-right: 20px;
    left:211px;
}
.shade .avatar{
    width:35px;
    height:35px;
    border-radius: 50%;
    margin-right: 10px;
}
.shade-header{
    color: #000;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    border-bottom:1px solid rgba(0,0,0,0.3);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.unexisted-member-list{
    display: none;
    margin-top: 12px;
    max-height: 250px;
    overflow: scroll;
    padding:10px;
    border-top:1px solid #ececec;
}
#investMember{
    float: right;
}
.existed-member-list{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height:200px;
}
.member-shade .userMsg{
    display: inline-block;
}
.member-shade .member-item button{
    float: right;
}
.shade .tip{
    color: #cccccc;
    font-size: 12px;
}
.invest-code{
    overflow: scroll;
    margin: 5px auto;
}

.null-tips{
    text-shadow: 0 2px 0 #fff, 0 -2px 0 #f8f6f2;
    font-size:16px;
    color: #64868e;
    padding-top: 90px;
    height:100%;
    text-align: center;
}

.unpreview-file{
    color: #337ab7;
}
.copy-part button{
    float: right;
}
.end-time, .overdue, .from-now{
    -webkit-font-smoothing: antialiased !important;
}