extends ../layout-no-navbar
block style
	link(href='/css/index.css' rel='stylesheet')
block content
	body
		.container
			p 首页占坑
			.signup
				a(href="/signup") 注册
			.login
				a(href="/login") 登录

