extends ../layout-no-navbar
block style
	link(href="/css/join-team.css", rel="stylesheet")
block content
	body
		.container
			.header 加入新团队
			.form(role="form")
				label 团队名称
				input(name="teamName", placeholder="请输入团队名称")
			button.m-btn#searchTeam 搜索
			.search-results
			.feedback
	script(src="/socket.io/socket.io.js")
	script(src="/script/join-team.js")