extends ../layout-no-navbar
block style
	link(href="/css/new-team.css", rel="stylesheet")
block content
	body
		.liao-container
			.header 加入新团队
			form.form-box(role="form")
				a.back(href='/new')
					i.fa.fa-arrow-left
				input#teamName(name="teamName", placeholder="请输入团队名称")
				button.btn#searchTeam(disabled=true) 搜&nbsp;&nbsp;索
				.search-results
				.feedback
	script(src="/socket.io/socket.io.js")